<div id="at_footer">
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="at_block">
				<div class="copyright">
					<span>&copy; {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a><br /></span>
				</div>
				<div class="poweredby">
					<span>Published on <a class="icon-ghost" href="http://ghost.org">Ghost </a> using the <a href="http://ghostion.ghostdemo.axiantheme.com/">Ghostion</a> theme. </span>
				</div>
			</div>
		</div>
	</div>
</div>